:root {
  --font-size: 1rem;
  /** Colors **/
  --font-color: #000;
  --background-color: #ffffff;
  --color-primary: #e0e0e0;
  --color-primary-hover: #cdcdcd;
  --color-accent: #000;
  --color-error: rgb(159, 0, 0);

  --border-radius-default: 0.9rem;
  --box-shadow-default: 1px 4px 20px 6px #f1f1f1;
  --box-shadow-large: 1px 4px 30px 6px #f1f1f1;
  --transition-fast: all 50ms;
  --transition-default: all 150ms;
  --footer-height: 4rem;
}

@media (prefers-color-scheme: dark) {
  /* Dark mode color adjustments */
  :root {
    --font-color: #fff;
    --background-color: #131316;
    --color-primary: #1c1e22;
    --color-primary-hover: #2b2b2f;
    --color-accent: #c0f8ff;
    --color-accent-hover: #aadce3;

    --box-shadow-default: 1px 4px 20px 6px #0f0f0f;
    --box-shadow-large: 1px 4px 30px 6px #0f0f0f;
  }
}
