.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 3em 0 2em;
  gap: 1rem;
}
@media screen and (max-width: 600px) {
  .navigation {
    flex-direction: column;
    align-items: flex-start;
  }
}
