@import "normalize.css";

:root {
  --font-color: #000;
  --background-color: #d6dbdc;
  --border-radius-default: 0.9rem;
  --color-primary: #a0a0a0;
  --color-primary-hover: #b0b0b0;
  --color-error: rgb(159, 0, 0);
  --box-shadow-default: 1px 4px 20px 8px #0f0f0f;
  --transition-fast: all 50ms;
  --transition-default: all 150ms;
  --color-accent: #000;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #fff;
    --background-color: #131316;
    --color-primary: #1f2025;
    --color-primary-hover: #26262a;
    --color-accent: #c0f8ff;
    --color-accent-hover: #aadce3;
  }
}


body {
  color: var(--font-color);
  background: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
