.footer {
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--color-primary);
}
.footerText {
  opacity: 0.6;
}
.main {
  min-height: calc(100vh - var(--footer-height));
}
