.overviewPortfolioItemCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  margin: 4rem 0;
}
@media screen and (max-width: 479px) {
  .overviewPortfolioItemCardContainer {
    gap: 0.6em;
  }
}
@media screen and (max-width: 768px) {
  .overviewPortfolioItemCardContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
