.totalBalanceLabel {
  font-weight: normal;
  font-size: .9rem;
  opacity: .8;
}
.totalBalanceValue {
  font-size: 2rem;
  font-weight: 500;
  margin-top: .1em;
  display: inline-block;
  letter-spacing: 2px;
}