.listItem {
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 1em;
  width: 100%;
  border-radius: var(--border-radius-default);
  transition: var(--transition-fast);
  margin-bottom: 0.2em;
  transform: translateY(0);
}
.listItem:hover {
  background-color: var(--color-primary-hover);
  cursor: pointer;
}
.listItem:active {
  transform: translateY(1px);
  cursor: pointer;
}
.listItemIcon {
  margin-right: 1em;
}
.listItemLeftSide {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.listItemRightSide {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.listItemAnchor {
  display: flex;
}