.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 8vw;
  align-items: center;
}

/* Apply media query for smaller screens */
@media screen and (max-width: 600px) {
  .header {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
  }
  .form {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
}
